.container_shopping-product{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shopping-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.shopping-img{
    padding: 1%;
    width: 70%;
}

.shopping-img img{
    width: 100%;
}
.shopping-info{
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    text-align: justify;

}

.shopping-info p{
    margin: 1% 0% 2% 0%;
}

.shopping-price{
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: space-evenly;
    align-items: baseline;

}

.shopping-price input{
    width: 30px;
    height: 30px;
    border: none;
    border: 1px solid var(--golden-color);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    text-align: center;
}

.line {
    height: 10px;
    width: 80%;
    display: flex;
    margin: auto;
}

.inputt{
    color: white;
}

@media screen and ( min-width: 670px ) {
    
    .shopping-title{
        font-size: 2rem;
    }
    .shopping-product{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .shopping-img {
        width: 20%;
    }

    .shopping-info{
        width: 40%;
        line-height: 1.5;
    }
    
    #shopping_charge-account h3{
        line-height: 2;
    }
    
}

@media screen and ( min-width: 1024px ) {
    .shopping-title{
        font-size: 2.5rem;
    }

    .shopping-img {
        width: 25%;
    }

    .shopping-info{
        width: 40%;
        line-height: 1.5;
        font-size: large;
    }
    
    #shopping_charge-account{
        margin-top: 3%;
    }

    #shopping_charge-account h3{
        line-height: 2;
    }
}