@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');




.container-formclient{
  background-image:url(../../img/FORM-BACKGROUND.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form{
    max-width: 800px;
    width: 90%;
    margin: 10% 39%;
    padding: 2%;
    color: gold;
    font-size: 16px;
    background-color: rgba(255, 255, 0, 0.027);
    /* border: 1px solid white; */
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 5px #0f0401c2;
}

.form:hover{
    border: 1px solid gold;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.541);
}

